@charset "utf-8";
/* CSS Document */


/****************************************password***********************************************/

/*左侧*/
#content{ position:relative; height:auto;}
#content .geren{height:809px; }
#content .geren h2{ font-family:" 微软雅黑"; font-size:16px; color:#333333; margin:13px 0 0 19px; }
#content .geren ul{ margin:52px 0 0 36px; width:387px; height:315px;}
#content .geren ul li{ overflow:hidden;  padding-bottom:22px; position:relative;}
#content .geren ul li span{ font-family:"微软雅黑"; font-size:14px; color:#333;  position:absolute; top:10px; right:300px; }
#content .geren ul li a{   }
#content .geren ul li  input{ position:relative; left:123px; top:8px; background:url(../admin/images/text.jpg)  no-repeat ; width:264px; height:35px; border:0; text-align:left}
#content .geren ul .li1{  }
#content .geren  a{ position: absolute; top:233px; left:455px; width:73px; height:34px; background:#273f7d; font-family:" 微软雅黑"; font-size:14px; color:#ffffff; line-height:34px; padding-left:15px;   } 


/* 右侧*/
#content .zhongxin{ position:absolute; top:10px; right:20px; width:283px; height:809px; background:#fafafa;}
#content .zhongxin h2{ font-family:"微软雅黑"; font-size:16px; color:#24779f; padding:22px 0 0 19px;}
#content .zhongxin ul{}
#content .zhongxin ul li{font-family:"微软雅黑"; font-size:14px;  line-height:50px; height:50px; width:227px; border-bottom: 1px solid #e5e5e5;margin-left:25px;}
#content .zhongxin ul li a{color:#aaa; padding-left:12px;}
#content .zhongxin ul li a:hover{color:#333;}

/* 头部欢迎绳子光临*/
.huanying{ background: url(../ordering/huanyingshengzi.png)  no-repeat 1084px 30px; padding:40px 0 0 1105px; width:124px; height:38px;}


/****************************************password***********************************************/





